extends layout.pug

block title
  title= bookData.title
block content
  h1 Update Book
  form(method='post' action=`/books/${bookData.id}` name="myForm" onsubmit="return validateUpdateForm()")
    p
      label(for='title') Title
      input#title(name='title' type='text' value=`${bookData.title}`)
    p
      label(for='author') Author
      input#author(name='author' type='text' value=`${bookData.author}`)
    p
      label(for='genre') Genre
      input#genre(name='genre' type='text' value=`${bookData.genre}`)
    p
      label(for='year') Year
      input#year(name='year' type='text' value=`${bookData.year}`)
    p
      input(type='submit' value='Update Book')
  form(method='post' action=`/books/${bookData.id}/delete` onsubmit="return confirm('Do you really want to delete this book?');")
    p
      a.button(href=`/books/${bookData.id}`) Cancel
    p
      input(type='submit' value='Delete Book')
  script(src='/static/js/script.js')